.projectBox{
  height:350px;
  width:470px;
  margin:20px;
  box-shadow: 0 4px 20px 0 rgba(37, 39, 89, 0.3), 0 4px 20px 0 rgba(37, 39, 89, 0.3);
  background-color:white;
}

.skillsSection{
  background-color:transparent;
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
}

.skill{
  border:2px solid transparent;
  background-color:white;
  box-shadow: 0 4px 20px 0 rgba(37, 39, 89, 0.3), 0 4px 20px 0 rgba(37, 39, 89, 0.3);
  color:grey;
  font-size:20px;
  width:auto;
  padding:10px;
  text-align:center;
  border-radius:0px;
  margin:10px;
}

.skillsImage{
  height:74px;
}


.text{
  width:80%;
  text-align:center;
  font-size:20px;
}

.imageContainer {
  position: relative;
  width: 50%;
  cursor:pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.imageContainer:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.imageContainer{
  width:100%;
  height:230px;
  background-color:transparent;
  margin-bottom:0px;
  display:flex;
  justify-content:center;
}

.image{
  height:210px;
  margin-top:5px;
}

.jumbo{
  background-color:#D1F0FF;
  margin-top:30px;
  width:95%;
  padding:30px;
  box-shadow:0 7px 20px 0 rgba(37, 39, 89, 0.5), 0 6px 20px 0 rgba(37, 39, 89, 0.19);
}

p{
  width: 60%;
  text-align:center;
}

.projectTitle{
  width:100%;
  height:50px;
  color:black;
  background-color:white;
  margin-bottom:0px;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:20px;
}


@media only screen and (max-width: 550px) {

  .projectBox{
    width:100%;
    height:auto;
    margin:0px;
    margin-bottom:20px;
    background-color:transparent;
  }

  .imageContainer{
    width:100%;
    height:auto;
    background-color:transparent;
    margin-bottom:0px;
    display:flex;
    justify-content:center;
  }

  .image{
    width:100%;
    height:auto;
    margin-top:5px;
  }

  .jumbo{
    background-color:#D1F0FF;
    margin-top:10px;
    width:100%;
    padding:0px;
    box-shadow:0 7px 20px 0 rgba(37, 39, 89, 0.5), 0 6px 20px 0 rgba(37, 39, 89, 0.19);
  }

  p{
    width: 85%;
    text-align:center;
  }

  .projectTitle{
    width:100%;
    height:50px;
    color:black;
    background-color:white;
    margin-bottom:0px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:15px;
  }


}


/*body {
 background-image: url("paper.gif");
 background-color: #cccccc;
}*/
