//theme colors
$firstColor: #133456;
$secondColor: #676BFF;
$thirdColor: #8C90FA;
$fourthColor: white;

$theme-colors: (
  "primary": $firstColor,
  "danger": #ff4136,
  "secondary":white
);

/*$body-bg: $thirdColor;*/
$navbar-dark-color: $thirdColor;
//$navbar-dark-active-color: $fourthColor;
$navbar-dark-hover-color: $fourthColor;
$navbar-dark-link-hover-bg: gray;
$navbar-dark-border: 1px solid black;

button,
button:active,
button:focus,
button:hover,
.btn,
.btn:active,
.btn:focus,
.btn:hover{
    outline:none !important;
}

.customButton{
  width:150px;
  background-color:$firstColor;
  text-align:center;
  padding:7px;
  border:none;
  color:white;
  text-decoration:none;
  cursor:pointer;
  box-shadow: 0 4px 20px 0 rgba(37, 39, 89, 0.3), 0 4px 20px 0 rgba(37, 39, 89, 0.3);
  transition: 0.2s;
}
.customButton:hover{
  width:150px;
  background-color:$secondColor;
  text-align:center;
  padding:7px;
  border:none;
  color:white;
  text-decoration:none;
  cursor:pointer;
  box-shadow: 0 4px 20px 0 rgba(37, 39, 89, 0.3), 0 4px 20px 0 rgba(37, 39, 89, 0.3);
  transition: 0.2s;
}

h1{
  color: $firstColor;
}

h2{
  color: $secondColor;
}

h2 i{
  color: $firstColor;
}


@media only screen and (max-width: 550px) {
  h2{
    color: $secondColor;
    font-size:25px !important;
  }


  .customButton{
    width:120px;
    background-color:$firstColor;
    text-align:center;
    padding:5px;
    border:none;
    color:white;
    text-decoration:none;
    cursor:pointer;
    box-shadow: 0 4px 20px 0 rgba(37, 39, 89, 0.3), 0 4px 20px 0 rgba(37, 39, 89, 0.3);
    transition: 0.2s;
  }
  .customButton:hover{
    width:120px;
    background-color:$secondColor;
    text-align:center;
    padding:5px;
    border:none;
    color:white;
    text-decoration:none;
    cursor:pointer;
    box-shadow: 0 4px 20px 0 rgba(37, 39, 89, 0.3), 0 4px 20px 0 rgba(37, 39, 89, 0.3);
    transition: 0.2s;
  }
}

.jumbo{
  background-image: url('hex.png');
}





#mainBody {
  background: linear-gradient(to top, #5A5DB1, $secondColor) fixed;
}

.projectHeader{
  background-color:$firstColor;
}

.projectFooter{
  background-color:$firstColor;
}

.profileBorder{
  background-color:$firstColor;
}

.gitlab{
  height:50px;
  margin-right:15px;
  cursor:pointer;
  color:$firstColor;
  transition: 0.2s;
}

.github{
  height:45px;
  margin-right:15px;
  cursor:pointer;
  color:$firstColor;
  transition: 0.2s;
}

.linkedin{
  height:50px;
  margin-right:15px;
  cursor:pointer;
  color:$firstColor;
  transition: 0.2s;
}

.gitlab:hover{
  height:50px;
  margin-right:15px;
  cursor:pointer;
  color:$secondColor;
  transition: 0.2s;
}

.github:hover{
  height:45px;
  margin-right:15px;
  cursor:pointer;
  color:$secondColor;
  transition: 0.2s;
}

.linkedin:hover{
  height:50px;
  margin-right:15px;
  cursor:pointer;
  color:$secondColor;
  transition: 0.2s;
}



.navbar{
  padding:0px !important;
}

.navbar-nav {
  background-color:transparent;
}

.navbar-dark .navbar-nav .active a::after
{
  border: 1px solid white !important;
}

.nav-link{
  border-bottom: 2px solid transparent;
  padding:20px !important;
  margin:0px !important;
  margin-right:15px !important;
  transition: 0.2s;
}

.nav-link:hover{
  border-bottom: 2px solid white;
  padding:20px !important;
  margin:0px !important;
  margin-right:15px !important;
  transition: 0.2s;
}

.selected{
  border-bottom: 2px solid white;
  color:white !important;
  padding:20px !important;
  margin:0px !important;
  margin-right:15px !important;
}


.navbar-brand{
  background-color:transparent;
  margin-bottom:0px;
  margin-left:20px;
  position:absolute;
}

.navbar-toggler{
  margin-right:15px !important;
  border:0px !important;
}


@media only screen and (max-width: 768px) {
  .nav-link:hover{
    border-bottom: 2px solid transparent;
    margin:5px;
  }

  .navbar-toggle {
  border: none !important;
  outline: none !important;
}

  .navbar-brand{
    background-color:transparent;
    margin-bottom:0px;
    margin:13px;
    margin-left:20px;
    position:relative;
  }

  .navbar-nav {
    background-color:#153D67;
    text-align:center;
  }

  .nav-link.active{
    border-bottom: 2px solid transparent;
    padding:20px !important;
    margin:0px !important;
  }

  .selected{
    border-bottom: 2px solid transparent;
    color:white !important;
    padding:20px !important;
    margin:0px !important;
    margin-right:15px !important;
  }


}

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
